html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.radio-button-russia {
  font-size: 27px;
  color: white;
  font-family:  Helvetica, sans-serif;
}

.radio-button-germany {
  font-size: 27px;
  color: white;
  font-family:  Helvetica, sans-serif;
  margin-left: 130px;
}

.radio-button-pakistan {
  font-size: 27px;
  color: white;
  font-family:  Helvetica, sans-serif;
  margin-left: 290px;
}

.radio-button-france {
  font-size: 27px;
  color: white;
  font-family:  Helvetica, sans-serif;
  margin-left: 440px;
}

.radio-button-russia input[type="radio"] {
  width: 20px; 
  height: 20px; 
}

.radio-button-germany input[type="radio"] {
  width: 20px; 
  height: 20px; 
}

.radio-button-pakistan input[type="radio"] {
  width: 20px; 
  height: 20px; 
}

.radio-button-france input[type="radio"] {
  width: 20px; 
  height: 20px; 
}



.nextbutton{
  width:180px;
  height:45px;
  margin-right:300px;
  font-size:15px;
  background-color:rgb(255,255,255);
  font-size:14px;
  color: rgb(8,28,255);
  border-color: rgb(8,28,255);
  border-radius:10px;
  box-shadow: 3px 3px 3px rgb(88,96,181);
}

.nextbutton:hover {
  background-color:rgb(180, 180, 180);
 }

 .backbutton{
  width:100px;
  height:30px;
  font-size:12px;
  background-color:rgb(255,255,255);
  font-size:14px;
  color: rgb(8,28,255);
  border-color: rgb(8,28,255);
  border-radius:10px;
  box-shadow: 3px 3px 3px rgb(88,96,181);
 }

 .backbutton:hover {
  background-color:rgb(180, 180, 180);
 }

 .restartbutton{
  font-size:10px;
  background-color:rgb(255,255,255);
  font-size:14px;
  color: rgb(8,28,255);
  border-color: rgb(8,28,255);
  border-radius:7px;
 }

 .restartbutton:hover {
  background-color:rgb(180, 180, 180);
 }

 .audiobutton{
  font-size:10px;
  background-color:rgb(255,255,255);
  font-size:14px;
  color: rgb(8,28,255);
  border-color: rgb(8,28,255);
  border-radius:7px;
 }

 .audiobutton:hover {
  background-color:rgb(180, 180, 180);
 }

.inputbox{
  font-size: x-large;
}

.inputbox:hover {
  background-color:rgb(210, 210, 210);
 }

#dropdown{
  width:200px;
  height:75px;
  font-size: larger;
  text-align:left;
}

#dropdown:hover {
  background-color:rgb(210, 210, 210);
 }

/* Hiding the vertical scrollbar */
body {
  overflow-y: hidden;
}